body{
    /* background-image: linear-gradient(to bottom right,#00f7ff, #000442); */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;    
    margin: 0px;
    height: 100%;
    background-attachment: fixed;
    background-color: #00ffe7;
    opacity: 0.8;
    background-image:  radial-gradient(#b5f0ff 0.5px, transparent 0.5px), radial-gradient(#005c74 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.error{
    color:red;
    font-size: 12px;
}

.navbar{
    height: 50px;
    background-color: black;
    color: white;
    align-items: space-between;
    display:flex;
    flex-direction: row;
}


a{
    text-decoration: none;
    padding: 7px 20px;
    color: black;
    border-radius:15px;
}

.temp1{
    width: 700px;
    text-align: left;
    margin: 15px;
    margin-left: 50px;
}

.temp2>a{
    background-color: rgb(255, 213, 158);
}

.temp2>a:hover{
    background-color: rgb(153, 99, 0);
    color: white;
}

.temp2{
    margin: 15px;
    margin-right: 10px;
}

.temp3>a{
    background-color: rgb(0, 0, 0);
    color:white;
    border-bottom: 1px solid white;
    border-radius:0px;
}

.temp3{
    margin: 15px;
    margin-right: 150px;
}

.temp4>a{
    background-color: rgb(255, 158, 158);
}

.temp4>a:hover{
    background-color: rgb(138, 0, 0);
    color: white;
}

.temp4{
    margin: 15px;
}

h2{
    text-align: center;
    margin-top: 50px;
}

.profile{
    margin:5%;
}

table{
    table-layout: auto;
    width: 1000px;
    padding: 10px;
    left      : 50%;
    top       : 55%;
    position  : absolute;
    transform : translate(-50%, -50%);
    font-size: 15px;
}

td {
    padding: 5px;
}


td:nth-child(1) {
    width: 150px;
}

td:nth-child(2) {
    width: 170px;
}

td:nth-child(3) {
    width: 150px;
}

td:nth-child(4) {
    width: 170px;
}

td:nth-child(5) {
    width: 150px;
}

td:nth-child(6) {
    width: 170px;
}

.save{
    left      : 65%;
    top       : 85%;
    position  : absolute;
    font-size: 20px;
    padding: 10px 35px;
    background-color: rgb(22, 124, 19);
    color: white;
    border-radius:15px;
    border: none;
}

.save:hover{
    background-color: rgb(35, 214, 35);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.cancel{
    left      : 75%;
    top       : 85%;
    position  : absolute;
    font-size: 20px;
    padding: 7px 35px;
    background-color: rgb(156, 15, 15);
    color: white;
}

.cancel:hover{
    background-color: rgb(218, 78, 78);
    color: rgb(0, 0, 0);
}